### 주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과 
### 2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오. 
### 단 Events컬럼이 '1'인경우 80%의 Salse값만 반영함 
### (최종값은 소수점 반올림 후 정수 출력)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", 
                 parse_dates=['Date'])

df.head()
df.info()

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df.head()

def events_sales(x):
    if x['Events'] == 1:
        x['Sales2'] = x['Sales'] * 0.8
    else:
        x['Sales2'] = x['Sales']
    return x

df = df.apply(lambda x:events_sales(x), axis = 1)

df.head()

cond1 = df['year'] == 2022
cond2 = df['year'] == 2023

df1 = df[cond1].groupby('month')['Sales2'].sum().max()
df2 = df[cond2].groupby('month')['Sales2'].sum().max()

print(df1, df2)

print(round(abs(df1 - df2), 0)) # 42473436.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB
197145878.0 239619313.8
42473436.0

In [2]:
# 라이브러리 불러오기
import pandas as pd

In [3]:
# 데이터 불러오기 (datatime컬럼 지정)
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", 
                 parse_dates=['Date'])

In [4]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [5]:
# 날짜 컬럼 생성

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df.head()

        Date     Sales      PV      UV  Events  year  month  day
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1
1 2022-01-02     36779    3969  2289.0       0  2022      1    2
2 2022-01-03  13943875  373890     NaN       1  2022      1    3
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4
4 2022-01-05   2395374  190684     NaN       0  2022      1    5

In [6]:
# 이벤트가 1인 sales값은 80%만 반영

def event_sales(x):
    if x['Events'] == 1:
        x['Sales2'] = x['Sales']*0.8
    else:
        x['Sales2'] = x['Sales']
    return x


df = df.apply(lambda x: event_sales(x), axis=1) #1일 경우 row, 0일 경우 컬럼
df.head()

        Date     Sales      PV      UV  Events  year  month  day      Sales2
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1  18169220.0
1 2022-01-02     36779    3969  2289.0       0  2022      1    2     36779.0
2 2022-01-03  13943875  373890     NaN       1  2022      1    3  11155100.0
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4   8088593.0
4 2022-01-05   2395374  190684     NaN       0  2022      1    5   2395374.0

In [7]:
# 2022년 월별 합계 중 가장 큰 값
cond = df['year'] == 2022
df1 = df[cond]
sale1 = df1.groupby('month')['Sales2'].sum().max()
sale1

197145878.0

In [8]:
# 2023년 월별 합계 중 가장 큰 값
cond = df['year'] == 2023
df2 = df[cond]
sale2 = df2.groupby('month')['Sales2'].sum().max()
sale2

239619313.8

In [9]:
# 결과값 반올림 후 정수 출력
int(round(abs(sale1 - sale2),0)) # 42473436

42473436